@use "libs/theme/styles/variables" as *;
@use "libs/theme/styles/mixins" as *;

.container {
  @include Container;
  position: relative;
  overflow: hidden;
  background-color: var(--charcoal2);

  :global(body[data-theme="light"]) & {
    background-color: var(--functional-gray-150);
  }

  &:before {
    position: absolute;
    bottom: 0;
    right: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-size: contain;

    background: url("https://cdn.auth0.com/website/cic-homepage/bg-mobile/BG_Mobile.svg")
      center top no-repeat;
    background-size: cover;
  }

  :global(body[data-theme="light"]) &:before {
    background: url("https://cdn.auth0.com/website/passkeys-playground/assets/light.hero-banner-bg.png")
      center top no-repeat;
    background-size: cover;
  }

  @media #{$breakpoint-dimension-xxs} {
    &:before {
      background-size: cover;
    }
  }

  @media #{$breakpoint-dimension-md} {
    background-color: unset;

    :global(body[data-theme="light"]) & {
      background-color: unset;
    }

    &:before {
      background: unset;
    }

    :global(body[data-theme="light"]) &:before {
      background: unset;
    }

    &:after {
      display: none;
      background: none;
    }
  }
}

.wrapper {
  @include ExtendedGrid;
  justify-content: center;

  border-radius: 0;
  overflow: hidden;

  @media #{$breakpoint-dimension-md} {
    backdrop-filter: blur(4rem);
    border-radius: 0 0 1.5rem 1.5rem;

    background-color: #191919;

    :global(body[data-theme="light"]) & {
      background-color: #f1f1f1;
    }

    &:before {
      position: absolute;
      bottom: 0;
      right: 0;
      content: "";
      width: 100%;
      height: 100%;
      background-size: contain;

      background: url("https://cdn.auth0.com/website/cic-homepage/bg-mobile/BG_Mobile.svg")
        center top / 120% no-repeat;
    }

    :global(body[data-theme="light"]) &:before {
      background-size: cover;
      background: url("https://cdn.auth0.com/website/passkeys-playground/assets/light.hero-banner-bg.png")
        center top / 140% no-repeat;
    }
  }
}

.content {
  @include InnerContentFlex;
  justify-content: center;

  @media #{$breakpoint-dimension-sm} {
    @include InnerContentGrid;
  }
}

.hero {
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  align-items: center;
  gap: 2rem;

  @media #{$breakpoint-dimension-sm} {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
  }
}

.hero__copy {
  grid-column: 1 / span 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;

  @media #{$breakpoint-dimension-sm} {
    grid-column: 1 / span 6;
  }
}

.hero__text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero__title {
  width: 100%;
  margin: 0;
  text-align: left;
  font-size: 3rem;
  line-height: 3.25rem;
  letter-spacing: -0.03rem;
  font-weight: 400;
  color: var(--color_fg_bold);
  font-variant-numeric: lining-nums proportional-nums;
  font-style: normal;

  @media #{$breakpoint-dimension-sm} {
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: -0.08rem;
  }

  @media #{$breakpoint-dimension-md} {
    font-size: 3.5rem;
    line-height: 4rem;
    letter-spacing: -1px;
  }
}

.hero__description {
  color: var(--color_fg_default);
  font-size: 0.875rem;
  line-height: 1.375rem;
  letter-spacing: 0.02rem;
  font-weight: 400;

  @media #{$breakpoint-dimension-sm} {
    max-width: 39rem;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.01rem;
  }

  @media #{$breakpoint-dimension-md} {
    font-size: 1.25rem;
    line-height: 1.75rem;
    letter-spacing: 0.01rem;
  }
}

.hero__media {
  position: relative;
  grid-column: 1 / span 4;
  align-self: center;
  justify-self: center;
  display: flex;
  align-items: center;
  max-width: 64rem;
  justify-content: center;
  gap: 2.4rem;

  overflow: hidden;

  width: 100%;

  @media #{$breakpoint-dimension-sm} {
    width: 100%;
    height: 100%;
    grid-column: 7 / span 6;
  }
}

.hero__image {
  max-width: 30rem;

  @media #{$breakpoint-dimension-sm} {
    max-width: unset;
  }
}

.hero__ctaButton {
  display: flex;
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  align-self: stretch;
  border-radius: 0.375rem;
  color: var(--color_fg_link);
  font-size: 1rem;
  line-height: 1.5rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.2px;
  background: linear-gradient(var(--color_bg_button_primary_hero), var(--color_bg_button_primary_hero)) padding-box,
              linear-gradient(90deg,#3F59E4, #92D7CC) border-box;
  border: 1.5px solid transparent;
  backdrop-filter: blur(20px);

  @media #{$breakpoint-dimension-sm} {
    width: fit-content;
  }
}

.hero__ctaArrow {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0.75rem;
  width: 0.75rem;

  svg {
    height: 0.75rem;
    width: 0.75rem;

    path {
      fill: $color_fg_on_button_primary;
    }
  }

  @media #{$breakpoint-dimension-sm} {
    height: 1rem;
    width: 1rem;

    svg {
      height: 0.875rem;
      width: 0.875rem;
    }
  }

  &[data-rotation="true"] {
    animation: rotate 2s linear infinite;
  }
}
