@use "libs/theme/styles/variables" as *;
@use "libs/theme/styles/mixins" as *;

.container {
  max-width: 100%;
  border: 0.5px solid var(--color_border_light);
  background-color: var(--color_bg_light);
}

.horizontalScrollContainer {
  min-width: 544px;
}

.verticalScrollContainer {
  max-height: 248px;
  @media #{$breakpoint-dimension-sm} {
    max-height: fit-content;
  }
}

.titleContainer {
  color: var(--color_fg_bold);
  text-transform: uppercase;
  font-family: var(--font-secondary);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.headerContainer {
  padding: 24px;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid var(--color_border_light);
}

.scrollContainer {
  overflow-x: auto;
  overflow-y: auto;
  max-width: 100%;
}

.codeBlock {
  max-width: 544px;
  color: var(--color_fg_link);
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: var(--font-mono);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.15px;
  margin: 0 1.5rem;
  padding: 1.5rem 0;
}

.codeLine {
  display: flex;
  &:first-child {
    gap: 1rem;
  }
  &:not(:first-child) {
    gap: 2rem;
  }
}

.codeLineNumber {
  color: var(--functional-gray-550);
}

.paramValue {
   &[data-editable="true"] span{
    border: 1px solid var(--seafoam);
    padding: 0 0.5rem;
    cursor: pointer;
  }
}

.token {
  overflow-wrap: break-word;
}
