<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title OpenID Connect Playground
body
	h1 OpenID Connect Playground [BETA]
	p Hey, just a friendly note: we store stuff like your keys in LocalStorage so that when you redirect to authenticate, you don't lose them. You can clear them by clicking on this button: 
	span#clear-all-button
	div#server-urls
	div#token-panel

	input(type="hidden", name="redirect-uri", value=redirect_uri)
	input(type="hidden", name="stateToken", value=state)
	input(type="hidden", name="code", value=code)
	script(src='index.js')