<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	link(rel="stylesheet", href="https://cdn.auth0.com/styleguide/4.7.5/index.min.css")
	link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
	title OpenID Connect Playground
	
body
	#content
	.hidden
		input(type="hidden", name="redirect-uri", value=redirect_uri)
		input(type="hidden", name="stateToken", value=state)
		input(type="hidden", name="code", value=code)
		input(type="hidden", name="auth0ClientID", value="BUIJSW9x60sIHBw8Kd9EmCbj8eDIFxDC")
		input(type="hidden", name="auth0ClientSecret", value="gcyGiDHsIE6bUT9oAs6ghuynjt8usUqTRglg8n8eWqw9SgnGJ5cRLCUz03gJ_s_X")
		
	script(src='index.js')
