@use "libs/theme/styles/variables" as *;
@use "libs/theme/styles/mixins" as *;

.container {
  width: calc(100% - 2rem);
  position: fixed;
  top: 1rem;
  right: 0;
  left: 0;
  border-radius: 1rem;
  margin: 0 auto;
  background: var(--color_bg_layer);
  backdrop-filter: blur(2rem);
  z-index: 100;
  
  @media #{$breakpoint-dimension-sm} {
    display: none;
  }
}

.wrapper {
  @include ExtendedGrid;
  height: $navbar-height-mobile;
}

.content {
  @include InnerContentFlex;

  height: 100%;
  position: relative;
  grid-column: 1 / -1;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  color: var(--color_fg_link);
  
}

.logo {
  display: flex;
  align-items: center;
  height: 1.75rem;
  font-style: normal;
  font-weight: 500;

  svg {
    height: inherit;
    width: auto;
  }

  h1 {
    font-size: 1.25rem;
    line-height: 24px;
  }

  h3 {
    font-size: 11px;
    line-height: 11px;
  }

  & .logo_img {
        margin-right: 8px;
  }

  @media #{$breakpoint-dimension-xs} {
    display: flex;
  }
}

.burgerIconWrapper {
  appearance: none;
  border: 0;
  background: transparent;
  height: 1.5rem;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.burgerIcon {
  width: 1.25rem;
  display: flex;
  height: 0.125rem;
  background: var(--color_fg_bold);
  transition: all 0.2s ease-in-out;
  margin-top: 0.75rem;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 1.25rem;
    height: 0.125rem;
    background: var(--color_fg_bold);
    border-radius: 0.125rem;
    transition: all 0.2s ease-in-out;
  }

  &::before {
    transform: translateY(-7px);
  }

  &::after {
    transform: translateY(7px);
  }

  &[aria-hidden="false"] {
    transform: translateX(-1.25rem);
    background: transparent;
    box-shadow: none;

    &::before {
      transform: rotate(45deg) translate(0.75rem, -0.75rem);
    }
    &::after {
      transform: rotate(-45deg) translate(0.75rem, 0.75rem);
    }
  }
}

.menu {
  opacity: 1;
  transition: all .3s ease-in-out;

  &[aria-hidden="false"] {
    display: block;
  }

  &[aria-hidden="true"] {
    display: none;
  }

  @media #{$breakpoint-dimension-sm} {
    &[aria-hidden="false"] {
      display: none;
    }
  }
}

.menuContainer {
  width: calc(100% - 2rem);
  position: fixed;
  left: 1rem;
  top: 4.5rem;
  backdrop-filter: blur(2rem);
  z-index: 100;
}

.menuContent {
  @include InnerContentFlex;
  width: 100%;
  padding: .25rem; 
}

.menu__list {
  width: 100%;
  padding: 0;
  margin: 0;
}

.menu__item {
  position: relative;
  list-style: none;
  width: 100%;
  margin: 0;
}

.menu__item__action {
  position: relative;
  list-style: none;
  width: 100%;
  margin: 0;
  display: flex;
  margin-top: 1rem;
  border-top: 1px solid var(--color_fg_bold);
  align-items: center;
  p {
      display: flex;
      align-items: center;  
      border-radius: .75rem;
      width: 100%;
      font-size: 1rem;
      letter-spacing: -.1px;
      color: var(--color_fg_bold);
      text-decoration: none;
      font-weight: 500;
      transition: color .2s;
      user-select: none;
      padding: .75rem .5rem;
  }
}

.menu__item__link {
  display: flex;
  align-items: center;  
  border-radius: .75rem;
  width: 100%;
  font-size: 1rem;
  letter-spacing: -.1px;
  color: var(--color_fg_bold);
  text-decoration: none;
  font-weight: 500;
  transition: color .2s;
  cursor: pointer;
  user-select: none;
  padding: .75rem .5rem;

  &[data-active="true"] {
    background-color: var(--color_bg_layer_alternate-bold);
    //box-shadow: 0 0 1px 2px rgba(0, 0, 0, .04);
  }
}
