// Footer styles

.main_footer {
    text-align: center;
    background-color: #F8931D;
    font-size: 15px;
    color: black;
    padding: 30px 0;
}
  

.main_footer__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 0 16px;
}

.privacy_links__container {
    a + a {
        &:before {
          content: "•";
          display: inline-block;
          padding: 0 8px;
          pointer-events: none;
          color: #222228;
        }
        background: none;
        padding: 0;
        color: #0a84ae;
        border: none;
        cursor: pointer;
    }

    .as-anchor {
        &:before {
          content: "•";
          display: inline-block;
          padding: 0 8px;
          pointer-events: none;
          color: #222228;
        }
          
        
        &:hover {
            &:before {
                color: #222228;
            }
            
        }
          
    }
        
}

.ccpa_toggle {
    max-width: 39px;
    margin-left: 5px;
    vertical-align: middle;
    border: none;
    display: inline;
}

.auth0_badge {
    display: inline-block;
    width: 72px;
    height: 27px;
    background-image: url('/images/auth0-badge.svg');
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
}
       
   

/*    
 .privacy-links-container
      a + a 
        &:before
          
      a:hover
        &:before
          color #222228 

      .as-anchor
        &:before
          content "•"
          display inline-block
          padding 0 8px
          pointer-events none
          color #222228
        
        &:hover
          &:before
            color #222228

      .ccpa-toggle
        max-width: 39px
        margin-left: 5px
        vertical-align: middle
        border: none
        display: inline
   */